streamlit
llama-index
llama-index-retrievers-bm25
langchain
langchain-community
llama-index-embeddings-langchain
sentence_transformers
llama-index-llms-groq
llama-index-vector-stores-chroma
xformers
matplotlib
ipython
protobuf==3.20.*